.cart {
  background-color: $transplightgrey;
  border-radius: $borderRadius;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  -ms-border-radius: $borderRadius;
  -o-border-radius: $borderRadius;
  padding: 1vw;
  &__image {
    @extend .rock__img;
  }
  &__price {
    color: $gunmetal;
  }
  &__button {
    background-color: $charlston;
    color: $cultured;
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
    -ms-border-radius: $borderRadius;
    -o-border-radius: $borderRadius;
    padding: 1vh 1.5vw;
    margin: 0 1vw;
    font-size: 1.5rem;
  }
  &__span {
    font-size: 2rem;
  }
  &__checkoutbutton {
    display: block;
    background-color: $buttonbackground;
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
    -ms-border-radius: $borderRadius;
    -o-border-radius: $borderRadius;
    padding: 2vw;
    color: $cultured;
    margin-top: 2vh;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: 0;
  }
}
