* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: $backgroundimage;
  background-color: $backgroundcolor;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $black;
  font-family: $roboto;
  font-size: 1.25rem;
}

main,
footer {
  padding: 2vw;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  font-size: 2rem !important;
  color: $white;
  font-family: $courierprime !important;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: $davysgrey;
  text-transform: uppercase;
  text-align: center;
}
