/*Fonts*/
$courierprime: "Courier Prime", monospace;
$roboto: "Roboto", sans-serif;

/*Primary Colors*/
$white: #fff;
$black: #000;
$charlston: #212529;
$davysgrey: #495057;
$lightgrey: #ced4da;
$cultured: #f8f9fa;
$gunmetal: #343a40;

/*Transparent colors*/
$transplightgrey: rgba(206, 217, 218, 0.6);
/*Backgrounds*/
$backgroundimage: url("https://res.cloudinary.com/dmccp7nci/image/upload/v1631526796/raphael-koh-aiKyJ6rHCP4-unsplash_qgckez.jpg");
$backgroundcolor: $charlston;

/*Buttons*/
$buttonbackground: $charlston;
$buttoncolor: $cultured;

/*Borders*/
$borderRadius: 5px;
